<h1>Fishing Tournament</h1>
<!-- This date is replaced by the current date from the main.js file -->
<h2 id="date">Current date</h2>

<!-- Table -->
{{#if anglers.length}}
<table class="table table-dark table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">Place</th>
      <th scope="col">Angler</th>
      <th scope="col">Total Fish</th>
      <th scope="col">Bag Length</th>
      <th scope="col">Bag Weight</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody>
  
    <!-- Loop through each competitor and display a row -->
    {{#each anglers as |angler|}}

    <tr>
      <!-- TODO: Need some way to determine the ranking -->

      <th class="trophy-cell" scope="row"></th>
      <!-- Get name of competitor -->
      <td>
        <!-- If the user is logged in, show the names as links to link to their profile. Otherwise show them as static text -->
        {{#if loggedIn}}
        <a href="#">{{angler.name}}</a>
        {{else}}
        {{angler.name}}
        {{/if}}
      </td>
      <!-- Get # of fish caught --> 
      <td>{{angler.fish_caught}}</td>

      <!-- Get total bag length -->
      <td>{{angler.total_length}}"</td>

      <!-- Get total bag weight -->
      <td>{{angler.total_weight}} lbs.</td>

      <td>
        <div>
          <img src={{angler.picture}} alt="">
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}