<h1>Fishing Tournament</h1>
<h2 id="date">Current date</h2>

<!-- Table -->
{{#if fishes.length}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Fish Number</th>
      <th scope="col">Angler</th>
      <th scope="col">Total fish caught</th>
      <th scope="col">Total length</th>
      <th scope="col">Photos</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each fish and display a row -->
    {{#each fishes as |fish|}}
    <tr>
      <!-- TODO: Need some way to determine the ranking -->
      <th scope="row"><i class="bi bi-trophy-fill gold"></i>{{fishes.id}}</th>
      <!-- TODO: Need to grab the name -->
      <td>
        <a href="#">{{fish.competitor.name}}</a>
      </td>
      <!-- TODO: Need to get totalFishes somehow -->
      <!-- <td>{{totalFishes}}</td> --> 
      <!-- REPLACE below with totalFishes --> 
      {{!-- <td>5</td> --}}
      <td>{{fishes.length}}</td>
      <td>
        <div>
          <img src={{fishes.picture}} alt="">
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}