<h1>Leader Board By Total Length</h1>
<h2 id="date">Current date</h2>

<!-- Table -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Angler</th>
      <th scope="col">Total Fish</th>
      <th scope="col">Bag Length</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each leader and display a row -->
    {{#each competitors as |competitor|}}
    <tr>
      <!-- TODO: Need some way to determine the ranking -->
      <th scope="row">  1  </th>


      <!--  Grab the name -->
      <td>
        <a href="/competitor/{{ competitor.id }}">{{competitor.name}}</a>
      </td>
      <!-- TODO: Need to get totalFishes somehow --> 
   
      <td>{{competitor.totalFish}}</td> 
      <!-- REPLACE below with totalFishes --> 
      {{!-- <td>5</td> --}}
      <td>{{competitor.totalLength}}</td>
     
    </tr>
    {{/each}}
  </tbody>
  </table>

  <h1>LEADER BOARD BY FISH</h1>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Angler</th>
      <th scope="col">Fish Length</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each leader and display a row -->
    {{#each competitors as |competitor|}}
    <tr>
      <!-- TODO: Need some way to determine the ranking -->
      <th scope="row">  1  </th>


      <!--  Grab the name -->
      <td>
        <a href="/competitor/{{ competitor.id }}">{{competitor.name}}</a>
      </td>
      <!-- TODO: Need to get totalFishes somehow --> 
   
      <td>{{competitor.fish.length}}</td> 
      <!-- REPLACE below with totalFishes --> 
      {{!-- <td>5</td> --}}
      <td>{{competitor.fish.picture}}</td>
     
    </tr>
    {{/each}}
  </tbody>
  </table>

