<h1>Leader Board By Single Fish</h1>
<h2 id="date">Current date</h2>

<!-- Table -->
{{#if singlefish.length}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Angler</th>
      <th scope="col">Time Caught</th>
      <th scope="col">Fish Length</th>
      <th scope="col">Photos</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each fish and display a row -->
    {{#each singlefish as |fish|}}
    <tr>
      <!-- TODO: Need some way to determine the ranking -->
      <th scope="row"> 1 </th>
      <!-- TODO: Need to grab the name -->
      <td>
        <a href="/competitor/{{ fish.competitor.id }}">{{fish.competitor.name}}</a>
      </td>
      <!-- TODO: Need to get totalFishes somehow --> 
      {{!-- Removed total fishes, instead placed time caught --}}
      <td>{{fish.created_at}}</td> 
      <!-- REPLACE below with totalFishes --> 
      {{!-- <td>5</td> --}}
      <td>{{fish.length}}</td>
      <td>
        <div>
          <img src={{fish.picture}} alt="">
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}