<div class="header-container">
  <div>
    <h1>{{competitor.name}}</h1>
    <h2>Total Bag Length : {{competitor.totalLength}}"</h2>
  </div>
  <!-- button for new fish -->
  {{#if loggedIn}}
    <button type="button" class="btn btn-primary" id="fishButtonProfile" data-toggle="modal" data-target="#fishModal">
        Upload your catch!
    </button>
  {{/if}}
</div>

{{> add-fish }}

<!-- Table -->
<table class="table table-dark table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time Caught</th>
      <th scope="col">Fish Length</th>
      <th scope="col">Fish Weight</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each fish and display a row -->
    {{#each competitor.fishes as |fish|}}
    <tr>
      {{!-- Fish ID --}}
      <th scope="row"> {{fish.id}} </th>
      {{!-- Time Caught --}}
      <td>{{fish.timeofcatch}}</td>
      {{!-- Length --}}
      <td>{{fish.length}}"</td>
      {{!-- Weight --}}
      <td>{{fish.weight}} lbs.</td>
      <td>
        {{!-- Photo --}}
        <div>
          <img class="profile-fish" src={{fish.picture}} alt="">
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>